h1 {
  color: rgb(0, 174, 255);
  font-style: italic;
}
#bar{
  background-image:url(/static/css/kristopher-roller-PC_lbSSxCZE-unsplash.jpg) ;
  color: azure;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150%;
}
.container{
  background-color: blanchedalmond;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}