h1 {
  color: rgba(123, 255, 0, 0.822);
  font-style: italic;
}
#bar{
  background-image:url(/static/css/kristopher-roller-PC_lbSSxCZE-unsplash.jpg) ;
  color: rgb(163, 89, 212);
  forced-color-adjust:1px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150%;
}
.container{
  background-image: url(/static/css/pawel-czerwinski-0ZFgxlNpbJM-unsplash.jpg);
  
  background-repeat: no-repeat;
  background-size: cover;
  font-style: italic;
  color: rgba(240, 248, 255, 0.411);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
  
}
#image{
  color: aqua;
  font-style: italic;
}
p{
  color: #000;
}
.navbar{
  background-color: blue;
  color: aqua;
}
.row{
  color: rgba(255, 0, 0, 0.719);
  text-align: center;
}
.navbar{
  background-color: #3fe075;
  margin:0%;
  padding: 0%;
  /* border: 5px solid rgb(0, 0, 0); */
  text-align: center;
  
}
.navbar ul li {
  margin: 0;
  padding: 0;
  padding-top: 2%;
  color: #3fe075;
}

/* .navbar ul li {
  list-style: none;
margin: 1%;
  font-size: 2em;
display:inline-block;
} */

.navbar ul li a {
  text-decoration: none;
  float: right;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  color: #E6E6E6;

}

/* .navbar {
  overflow: hidden;
  background-color: #214569;
  position: fixed;
  top: 0;
  width: 100%;
} */

.navbar ul li:hover {
  background-color: #8C9DBF;
}


/* .navbar p {
  top: 0;
  float: right;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5em;

} */
.navbar-brand{
  text-align: center;
  font-style: italic;
}

